.adjust-tr-5 {
    width: 5% !important;
}

.adjust-tr-10{
   width: 10% !important;
}

.adjust-tr-15 {
    width: 15% !important;
}

.adjust-tr-20 {
    width: 20% !important;
}

.adjust-tr-30 {
    width: 30% !important;
}

.adjust-tr-40 {
    width: 40% !important;
}

.adjust-tr-50 {
    width: 50% !important;
}

.adjust-tr-90 {
    width: 90% !important;
}

p{
    overflow-wrap: break-word !important;
    white-space: pre-wrap !important;
    text-align: justify;
}

.show-modal{
    display: block;
}

.hide-modal {
    display: none;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
}

.loader{
    position: relative;
    left: 10%;
}

.theme-blush .sidebar .menu .list a{
    font-weight: bold;
    color: #3498db;
}

.normal-item{
    font-weight: normal !important;
}

.form-control:focus {
    border: 1px solid #f96332 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    color: #2c2c2c !important;
}

.custom-modal-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    padding-left: 250px;
    padding-top: 70px;
}